# Magento specific
/app/etc/config.php
/app/etc/env.php
/var/*
!/var/.htaccess
/pub/media/*
!/pub/media/.htaccess
/pub/static/*
/generated/*
/vendor/*
/node_modules/*
/.idea/*
/.DS_Store
/.vscode
/.php_cs.cache
/.phpunit.result.cache
/.sass-cache
/.cache
/.log
/.logs
/.report
/.tmp
/.temp
/.env
/.env.local
/.env.*.local
/.env.test
/.env.test.local
/.env.development
/.env.development.local
/.env.production
/.env.production.local
/.env.staging
/.env.staging.local
